<style>
  .custom-section-2 .flexible-layout{
    padding: 40px 0px 30px;
  }
  .custom-section-2 h4.subtitle {
    font-weight: 600;
    font-size: 16px;
  }
  .custom-section-2 .text-column__image {
    position: relative;
  }
  .custom-section-2 .text-column__image img {
    aspect-ratio: 0.7;
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
  }
  .custom-section-2 .text-column__image a {
    position: absolute;
    left: 20px;
    top: 25px;
    z-index: 2;
  }
  .custom-section-2 .text-column__image h3 {
    color: #fff;
    font-size: 27px;
  }
</style>
<div id="section-id-{{ section.id }}" class="custom-section-2">

  <div class="container">
    <div class="flexible-layout flexible-layout--variable-columns">
      
      <div class="column text-column fade-in-up">
        {% if section.settings.title != blank %}
          <h2 class="hometitle" >
            {{- section.settings.title | escape -}}
          </h2>
        {% endif %}
        {% if section.settings.sub-title != blank %}
          <h4 class="subtitle">
            {{- section.settings.sub-title | escape -}}
          </h4>
        {% endif %}
      </div>
      
      {% for block in section.blocks %}
        <div id="block-id-{{ block.id }}" class="column text-column fade-in-up">
            <div class="text-column__image">
              {%- if block.settings.image != blank -%}
                 <img src="{{ block.settings.image | image_url: width: 450  }}" width="" height="">
              {% else %}
                <div class="placeholder-image">
                  {{- 'image' | placeholder_svg_tag: 'placeholder-svg' -}}
                </div>
              {% endif %}
              {%- if block.settings.btn-link != blank -%}<a href="{{ block.settings.btn-link }}">{%- endif -%}
                {% if block.settings.title != blank %}
                  <h3 class="text-column__title">{{ block.settings.title | escape }}</h3>
                {% endif %}
              {%- if block.settings.btn-link != blank -%}</a>{% endif -%}
            </div>
        </div>
      {% endfor %}
      
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Section 2",
  "class": "custom-section-2",
  "disabled_on": {
    "groups": [
      "aside"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "text",
      "id": "sub-title",
      "label": "Sub Heading",
      "default": "Sub Heading"
    }
  ],
  "blocks": [
    {
      "type": "image_block",
      "name": "Column",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Add a title"
        },
        {
          "type": "url",
          "id": "btn-link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Section 2",
      "settings": {
      },
      "blocks": [
        {
          "type": "image_block"
        },
        {
          "type": "image_block"
        },
        {
          "type": "image_block"
        }
      ]
    }
  ]
}
{% endschema %}
