<div data-section-id="{{ section.id }}" {%- render 'animation-attrs', attrs: 'data-cc-animate' -%}>
{% paginate collection.products by section.settings.coll_num_per_page_int %}

{%- liquid
  if section.settings.show_image_behind_heading and collection.image
    assign header_image_enabled = true
  else
    assign header_image_enabled = false
  endif
  assign current_sort = collection.sort_by | default: collection.default_sort_by

  assign show_filters = section.settings.enable_filtering
  if collection.filters == empty
    assign show_filters = false
  endif
-%}

{%- liquid
  assign related_collections_count = 0
  if section.settings.related_collections != empty
    for loop_collection in section.settings.related_collections
      unless loop_collection.handle == collection.handle
        assign related_collections_count = related_collections_count | plus: 1
      endunless
    endfor
  endif
-%}
  
  
{%- if related_collections_count > 0 -%}
  {% capture related_collection_html %}
    {% if section.settings.related_collections_style == 'buttons' %}
      <div class="container{% if header_image_enabled %} container--not-mobile{% endif %} lightish-spaced-row-above hidden">
        <related-collection-link-buttons class="related-collection-links related-collection-links--buttons align-center{% if header_image_enabled %} image-overlay__over{% endif %}" data-expander-btn-text="{{ 'sections.collection.view_all_related_collections' | t }}">
          {%- for loop_collection in section.settings.related_collections -%}
            {%- unless loop_collection.handle == collection.handle -%}
              <a class="btn btn--tertiary" href="{{ loop_collection.url }}">{{ loop_collection.title | escape }}</a>
            {%- endunless -%}
          {%- endfor -%}
        </related-collection-link-buttons>
      </div>
    {% else %}
      {% unless section.settings.rel_coll_gall_full_width %}
        <div class="container container--not-mobile lightish-spaced-row-above lightish-spaced-row-above--not-mobile{% if section.settings.rel_coll_grid_mobile == 'hide' %} desktop-only{% endif %}">
      {% endunless %}
      <div class="
        hidden
        gallery
        gallery--height-adapt
        gallery--grid-desktop-{{ related_collections_count | at_most: 4 }}
        gallery--grid-mobile-{{ section.settings.rel_coll_grid_mobile }}
        {%- if section.settings.rel_coll_grid_mobile != 'hide' -%}
          {%- assign rel_coll_grid_mobile_int = section.settings.rel_coll_grid_mobile | plus: 0 -%}
          {%- if related_collections_count > rel_coll_grid_mobile_int %} gallery--mobile-carousel{% endif %}
        {%- endif -%}
        {%- if section.settings.rel_coll_gall_enable_margin %} gallery--with-margins{% endif %}
        related-collection-links
        related-collection-links--gallery
        {%- if section.settings.rel_coll_gall_full_width %} related-collection-links--is-full-width{% endif %}
        {%- if header_image_enabled %} related-collection-links--under-image-header{% endif %}
        {%- if section.settings.rel_coll_grid_mobile == 'hide' %} desktop-only{% endif %}">
        <carousel-slider class="carousel{% if section.settings.rel_coll_gall_mobile_layout == 'hide' %} desktop-only{% endif %}" inactive>
          <div class="slider slider--no-scrollbar" id="slider-{{ section.id }}">
            <div class="slider__grid">
              {%- for loop_collection in section.settings.related_collections -%}
                {%- unless loop_collection.handle == collection.handle -%}
                  <div class="slider__item
                      gallery__item
                      image-overlay
                      image-overlay--bg-{{ section.settings.rel_coll_gall_overlay_style }}
                      image-overlay--edge-boxes
                      {% unless section.settings.rel_coll_gall_full_width and section.settings.rel_coll_gall_enable_margin == false %}image-overlay--edge-boxes--pad-to-corner{% endunless %}
                      ">
                    <a class="image-overlay__image-link" href="{{ loop_collection.url }}">
                      <div class="image-overlay__image gallery__image img-stretch">
                        {%- liquid
                          if loop_collection.featured_image
                            assign rel_coll_image = loop_collection.featured_image
                          else
                            assign rel_coll_image = false
                          endif
                          assign custom_aspect_ratio = section.settings.rel_coll_gall_aspect_ratio | times: 1.0
                        -%}
                        {%- if rel_coll_image -%}
                          {%- liquid
                            assign desktop_image_cols = section.settings.grid | at_most: section.blocks.size
                          -%}
                          {%- render 'image' with rel_coll_image, custom_aspect_ratio: custom_aspect_ratio, custom_crop: section.settings.image_position, size_cols_mobile: section.settings.rel_coll_grid_mobile, size_cols_desktop: desktop_image_cols -%}
                        {%- else -%}
                          <div class="placeholder-image dark">
                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                          </div>
                        {%- endif -%}
                      </div>

                      <div class="text-overlay text-overlay--v-{{ section.settings.rel_coll_gall_text_alignment | split: ' ' | first }} text-overlay--h-{{ section.settings.rel_coll_gall_text_alignment | split: ' ' | last }} image-overlay__over">
                        <div class="text-overlay__inner">
                          <div class="text-overlay__text">
                            <h2 class="text-overlay__title h4">{{ loop_collection.title | escape }}</h2>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                {%- endunless -%}
              {%- endfor -%}
            </div>
          </div>
          <div class="slider-nav slider-nav--floating desktop-only no-js-hidden">
            <button type="button" class="slider-nav__btn has-ltr-icon" name="prev" aria-controls="slider-{{ section.id }}">
              <span class="visually-hidden">{{ 'general.slider.previous' | t }}</span>
              {%- render 'icon-chevron-left', stroke_width: 1.3 -%}
            </button>
            <button type="button" class="slider-nav__btn has-ltr-icon" name="next" aria-controls="slider-{{ section.id }}">
              <span class="visually-hidden">{{ 'general.slider.next' | t }}</span>
              {%- render 'icon-chevron-right', stroke_width: 1.3 -%}
            </button>
          </div>
        </carousel-slider>
      </div>
      {% unless section.settings.rel_coll_gall_full_width %}
        </div>
      {% endunless %}
    {% endif %}
  {% endcapture %}
{%- endif -%}

  
{% if header_image_enabled %}
  {%- liquid
    assign show_header = false
    if section.settings.show_title
      assign show_header = true
    endif
    if collection.description != blank and section.settings.coll_desc_pos == 'above'
      assign show_header = true
    endif
    if related_collections_count > 0 and section.settings.related_collections_style == 'buttons'
      assign show_header = true
    endif
  -%}
  {%- if show_header -%}
    <div class="page-header page-header--with-background img-fill image-overlay image-overlay--bg-{{ section.settings.overlay_style }} page-header--padded-{{ section.settings.heading_image_height }}">
      <div class="image-overlay__image">
        {%- render 'image' with collection.image, loading: 'eager', fetchpriority: 'high' -%}
      </div>
      <div class="text-overlay text-overlay--inline text-overlay--v-center text-overlay--h-center image-overlay__over" {%- render 'animation-attrs', attrs: 'data-cc-animate data-cc-animate-delay="0.2s"' -%}>
        <div class="text-overlay__inner">
          <div class="text-overlay__text">
            {%- if section.settings.show_title -%}
              <h1 class="text-overlay__title super-large-text">{{ collection.title | escape }}</h1>
            {%- endif -%}

            {% if collection.description != blank and section.settings.coll_desc_pos == 'above' %}
              <div class="text-overlay__rte rte cf align-center reading-width large-text">{{ collection.description }}</div>
            {% endif %}

            {%- if related_collections_count > 0 and section.settings.related_collections_style == 'buttons' -%}
              {{ related_collection_html }}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
{% else %}
  {{ related_collection_html }}
  {%- liquid
    assign show_header = false
    if section.settings.show_title
      assign show_header = true
    endif
    if collection.description != blank and section.settings.coll_desc_pos == 'above'
      assign show_header = true
    endif
  -%}
  {%- if show_header -%}
    <div class="page-header page-header--with-upper-spacing">
      <div class="container">
        {%- if section.settings.show_title -%}
          <h1 class="pagetitle h3">{{ collection.title | escape }}</h1>
        {%- endif -%}

        {% if collection.description != blank and section.settings.coll_desc_pos == 'above' %}
          <div class="rte hidden cf align-center reading-width">{{ collection.description }}</div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endif %}

  {%- if related_collections_count > 0 and header_image_enabled and section.settings.related_collections_style != 'buttons' -%}
    {{ related_collection_html }}
  {%- endif -%}

  <div class="mt-3 container{% if settings.use_fullwidth_layout %} container--no-max{% endif %}{% if show_header == false %} lightly-spaced-row-above{% endif %}">
    <div class="utility-bar collection_heading" data-ajax-container data-ajax-scroll-to>
      <div class="utility-bar__left">
        {% if section.settings.show_sort or show_filters %}
          <a href="#" class="toggle-btn utility-bar__item{% if section.settings.collapse_tag_sidebar_by_default == false %} toggle-btn--revealed-desktop{% endif %}{% if show_filters == false %} mobile-only{% endif %}" data-toggle-filters>
            <span class="btn-icon">{% render 'icon-filter' %}</span>
            <span>{{ 'products.filtering.filter' | t }}</span>
            {% liquid
              assign filter_count = 0
              for filter in collection.filters
                assign filter_count = filter_count | plus: filter.active_values.size
                if filter.type == 'price_range'
                  if filter.min_value.value != nil or filter.max_value.value != nil
                    assign filter_count = filter_count | plus: 1
                  endif
                endif
              endfor
            %}
            {% if filter_count > 0 %}
              <span class="toggle-btn__count">({{ filter_count }})</span>
            {% endif %}
            <span class="toggle-btn__chevron has-motion has-ltr-icon">{% render 'icon-chevron-right', stroke_width: 1.3 %}</span>
          </a>
        {% endif %}
        <h1 class="pagetitle h3">{{ collection.title | escape }}</h1>
      </div>

      {% if section.settings.show_total and paginate.items > 0 %}
        <div class="utility-bar__centre">
          <div class="utility-bar__item">{{ 'sections.collection.product_count' | t: count: paginate.items }}</div>
        </div>
      {% endif %}

      <div class="utility-bar__right">
        
        {% if section.settings.show_sort %}
          <span class="utility-bar__item desktop-only">
            <link-dropdown class="link-dropdown link-dropdown--right-aligned">
              <div class="visually-hidden" id="sort-dropdown-heading">{{ 'products.sorting.sort_by_label' | t | escape }}</div>
              <button class="link-dropdown__button has-motion" aria-expanded="false" aria-controls="sort-dropdown-options" aria-describedby="sort-dropdown-heading">
                <span class="link-dropdown__button-text">
                  {%- for option in collection.sort_options -%}
                    {%- if current_sort == option.value -%}
                      {% if current_sort == 'title-ascending' %}
                        {{ 'A-Z' | escape }}
                      {% elsif current_sort == 'title-descending' %}
                        {{ 'Z-A' | escape }}
                      {% else %}
                        {{ option.name | escape }}
                      {% endif %}
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}
                </span>
                <span class="link-dropdown__button-icon has-motion">{% render 'icon-chevron-down', stroke_width: 1.3 %}</span>
              </button>
              <div class="link-dropdown__options" id="sort-dropdown-options">
                {%- for option in collection.sort_options -%}
                  {%- liquid
                    if section.settings.sort_show_featured == false and option.value == 'manual' and collection.default_sort_by != 'manual'
                      continue
                    endif
                    if section.settings.sort_show_best == false and option.value == 'best-selling' and collection.default_sort_by != 'best-selling'
                      continue
                    endif
                    if section.settings.sort_show_alpha == false and option.value == 'title-ascending' and collection.default_sort_by != 'title-ascending'
                      continue
                    endif
                    if section.settings.sort_show_alpha == false and option.value == 'title-descending' and collection.default_sort_by != 'title-descending'
                      continue
                    endif
                    if section.settings.sort_show_price == false and option.value == 'price-ascending' and collection.default_sort_by != 'price-ascending'
                      continue
                    endif
                    if section.settings.sort_show_price == false and option.value == 'price-descending' and collection.default_sort_by != 'price-descending'
                      continue
                    endif
                    if section.settings.sort_show_date == false and option.value == 'created-ascending' and collection.default_sort_by != 'created-ascending'
                      continue
                    endif
                    if section.settings.sort_show_date == false and option.value == 'created-descending' and collection.default_sort_by != 'created-descending'
                      continue
                    endif
                  -%}
                  <a href="{{ request.path | sort_by: option.value | escape }}" class="link-dropdown__link{% if current_sort == option.value %} link-dropdown__link--active{% endif %}">
                    {% if option.value == 'title-ascending' %}
                      {{ 'A-Z' | escape }}
                    {% elsif option.value == 'title-descending' %}
                      {{ 'Z-A' | escape }}
                    {% else %}
                      {{ option.name | escape }}
                    {% endif %}
                  </a>
                {%- endfor -%}
              </div>
            </link-dropdown>
          </span>
        {% endif %}
        <button id="default--button" class="layout_changes"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M14 5.6C14 5.03995 14 4.75992 14.109 4.54601C14.2049 4.35785 14.3578 4.20487 14.546 4.10899C14.7599 4 15.0399 4 15.6 4H18.4C18.9601 4 19.2401 4 19.454 4.10899C19.6422 4.20487 19.7951 4.35785 19.891 4.54601C20 4.75992 20 5.03995 20 5.6V8.4C20 8.96005 20 9.24008 19.891 9.45399C19.7951 9.64215 19.6422 9.79513 19.454 9.89101C19.2401 10 18.9601 10 18.4 10H15.6C15.0399 10 14.7599 10 14.546 9.89101C14.3578 9.79513 14.2049 9.64215 14.109 9.45399C14 9.24008 14 8.96005 14 8.4V5.6Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M4 5.6C4 5.03995 4 4.75992 4.10899 4.54601C4.20487 4.35785 4.35785 4.20487 4.54601 4.10899C4.75992 4 5.03995 4 5.6 4H8.4C8.96005 4 9.24008 4 9.45399 4.10899C9.64215 4.20487 9.79513 4.35785 9.89101 4.54601C10 4.75992 10 5.03995 10 5.6V8.4C10 8.96005 10 9.24008 9.89101 9.45399C9.79513 9.64215 9.64215 9.79513 9.45399 9.89101C9.24008 10 8.96005 10 8.4 10H5.6C5.03995 10 4.75992 10 4.54601 9.89101C4.35785 9.79513 4.20487 9.64215 4.10899 9.45399C4 9.24008 4 8.96005 4 8.4V5.6Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M4 15.6C4 15.0399 4 14.7599 4.10899 14.546C4.20487 14.3578 4.35785 14.2049 4.54601 14.109C4.75992 14 5.03995 14 5.6 14H8.4C8.96005 14 9.24008 14 9.45399 14.109C9.64215 14.2049 9.79513 14.3578 9.89101 14.546C10 14.7599 10 15.0399 10 15.6V18.4C10 18.9601 10 19.2401 9.89101 19.454C9.79513 19.6422 9.64215 19.7951 9.45399 19.891C9.24008 20 8.96005 20 8.4 20H5.6C5.03995 20 4.75992 20 4.54601 19.891C4.35785 19.7951 4.20487 19.6422 4.10899 19.454C4 19.2401 4 18.9601 4 18.4V15.6Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M14 15.6C14 15.0399 14 14.7599 14.109 14.546C14.2049 14.3578 14.3578 14.2049 14.546 14.109C14.7599 14 15.0399 14 15.6 14H18.4C18.9601 14 19.2401 14 19.454 14.109C19.6422 14.2049 19.7951 14.3578 19.891 14.546C20 14.7599 20 15.0399 20 15.6V18.4C20 18.9601 20 19.2401 19.891 19.454C19.7951 19.6422 19.6422 19.7951 19.454 19.891C19.2401 20 18.9601 20 18.4 20H15.6C15.0399 20 14.7599 20 14.546 19.891C14.3578 19.7951 14.2049 19.6422 14.109 19.454C14 19.2401 14 18.9601 14 18.4V15.6Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></button>
        <button id="listview--button" class="layout_changes"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M8 6L21 6.00078M8 12L21 12.0008M8 18L21 18.0007M3 6.5H4V5.5H3V6.5ZM3 12.5H4V11.5H3V12.5ZM3 18.5H4V17.5H3V18.5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></button>
        <span class="utility-bar__item mobile-only hidden">
          <div class="layout-switchers">
            <a class="layout-switch layout-switch--two-columns{% if settings.prod_thumb_mob_per_row == '2' %} layout-switch--active{% endif %}" href="#" aria-label="{{ 'sections.collection.grid_layout' | t }}">{%- render 'icon-grid', stroke_width: 1.3 -%}</a>
            <a class="layout-switch layout-switch--one-column{% if settings.prod_thumb_mob_per_row == '1' %} layout-switch--active{% endif %}" href="#" aria-label="{{ 'sections.collection.list_layout' | t }}">{%- render 'icon-box', stroke_width: 1.3 -%}</a>
          </div>
        </span>
      </div>
    </div>
    
    <div class="collections_list">
   
    {%- for loop_collection in section.settings.related_collections -%}
      {%- unless loop_collection.handle == collection.handle -%}
        <div class="list-item">
          <a href="{{ loop_collection.url }}">{{ loop_collection.title | escape }}</a>
        </div>
      {%- endunless -%}
    {%- endfor -%}
    </div>

    <filter-container class="filter-container filter-container--side{% if section.settings.collapse_tag_sidebar_by_default == false %} filter-container--show-filters-desktop{% endif %}" data-ajax-filtering="{{ settings.ajax_products }}" data-filter-section-id="{{ section.id }}">
      {% if section.settings.show_sort or show_filters %}
        {% render 'faceted-filters', filter_context: collection, clear_url: collection.url, current_sort: current_sort %}
      {% endif %}

      <div class="filters-adjacent collection-listing" data-ajax-container>
        {% if collection.products.size == 0 %}
          <h5 class="align-centre fully-spaced-row">{{ 'sections.collection.empty' | t }}</h5>
        {% else %}
          <div id="product-grid-swicher" class="product-grid product-grid--per-row-{{ section.settings.grid }} product-grid--per-row-mob-{{ settings.prod_thumb_mob_per_row }} product-grid--per-row-mob-{{ settings.prod_thumb_mob_per_row }}">
            {%- liquid
              if settings.prod_thumb_shape == 'portrait-23'
                assign chosen_aspect_ratio = 0.67
              elsif settings.prod_thumb_shape == 'portrait-45'
                assign chosen_aspect_ratio = 0.8
              elsif settings.prod_thumb_shape == 'square'
                assign chosen_aspect_ratio = 1.0
              elsif settings.prod_thumb_shape == 'landscape-54'
                assign chosen_aspect_ratio = 1.25
              elsif settings.prod_thumb_shape == 'landscape-32'
                assign chosen_aspect_ratio = 1.50
              elsif settings.prod_thumb_shape == 'tallest'
                assign chosen_aspect_ratio = 99
                for product in collection.products
                  if product.featured_media.preview_image.aspect_ratio < chosen_aspect_ratio
                    assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                  endif
                endfor
              else
                assign chosen_aspect_ratio = 0
                for product in collection.products
                  if product.featured_media.preview_image.aspect_ratio > chosen_aspect_ratio
                    assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                  endif
                endfor
              endif

              for product in collection.products
                assign prioritised_loading = false
                if forloop.index0 < section.settings.grid
                  assign prioritised_loading = true
                endif
                render 'product-block', product: product, custom_aspect_ratio: chosen_aspect_ratio, animate: true, prioritised_loading: prioritised_loading
              endfor
            -%}
          </div>
        {% endif %}
      </div>
    </filter-container>
  </div>

  <div class="container pagination-row" data-ajax-container>{% render 'pagination-control', paginate: paginate %}</div>

  {% endpaginate %}
  
  {% if collection.description != blank and section.settings.coll_desc_pos == 'below' %}
    <div class="container container--reading-width fully-spaced-row" {%- render 'animation-attrs', attrs: 'data-cc-animate' -%}>
      <div class="rte cf">{{ collection.description }}</div>
    </div>
  {% endif %}
</div>
<style>
  .list-view {
    display: block;
  }
  .list-view .block-inner {
    margin-bottom: 1em;
  }
  .list-view .block-inner-inner {
    display: flex !important;
    align-items: center;
  }
  .list-view .image-cont {
    width: 30%;
  }
  .list-view .product-block__detail {
    width: 70%;
  }

  @media (max-width: 767px) {
    .list-view .block-inner-inner {
      flex-direction: column;
    }
    .list-view .image-cont {
      width: 100%;
    }
    .list-view .product-block__detail {
      width: 100%;
    }
  }
</style>

<script>
  let element = document.getElementById('product-grid-swicher');
  let currentViewMode = localStorage.getItem('viewMode');
  if (currentViewMode == 'list-view') {
    element.classList.add('list-view');
  }
  
  document.getElementById('default--button').addEventListener('click', function() {
    localStorage.setItem('viewMode', '');
    element.classList.remove('list-view');
  });
  
  document.getElementById('listview--button').addEventListener('click', function() {
    localStorage.setItem('viewMode', 'list-view');
    element.classList.add('list-view');
  });
</script>


{% schema %}
{
  "name": "Collection pages",
  "settings": [
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show collection title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_image_behind_heading",
      "label": "Show collection image behind title",
      "default": true
    },
    {
      "type": "select",
      "id": "heading_image_height",
      "label": "Heading image height",
      "options": [
        {
          "value": "small",
          "label": "Compact"
        },
        {
          "value": "medium",
          "label": "Small"
        },
        {
          "value": "large",
          "label": "Medium"
        },
        {
          "value": "huge",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "id": "overlay_style",
      "type": "select",
      "label": "Overlay style",
      "default": "shadow",
      "options": [
        {
          "value": "full",
          "label": "Tint"
        },
        {
          "value": "box",
          "label": "Box"
        },
        {
          "value": "shadow",
          "label": "Text shadow"
        },
        {
          "value": "full image-overlay--bg-shadow",
          "label": "Text shadow and tint"
        },
        {
          "value": "no_background",
          "label": "No background"
        }
      ]
    },
    {
      "type": "select",
      "id": "coll_desc_pos",
      "label": "Description position",
      "default": "above",
      "options": [
        {
          "value": "above",
          "label": "Below collection title"
        },
        {
          "value": "below",
          "label": "Below products"
        }
      ]
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "coll_num_per_page_int",
      "min": 16,
      "max": 50,
      "step": 2,
      "label": "Number of products to show per page",
      "default": 24
    },
    {
      "type": "range",
      "id": "grid",
      "label": "Products per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show product vendors",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_total",
      "label": "Show product total",
      "default": true
    },
    {
      "type": "header",
      "content": "Filters"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "label": "Enable filtering",
      "info": "[Customize filters](/admin/menus)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collapse_tag_sidebar_by_default",
      "label": "Collapse filter column",
      "default": false
    },
    {
      "type": "select",
      "id": "collapse_filters_method",
      "label": "Filter row collapse",
      "default": "over-12",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "over-6",
          "label": "Over 6 items"
        },
        {
          "value": "over-12",
          "label": "Over 12 items"
        },
        {
          "value": "over-18",
          "label": "Over 18 items"
        },
        {
          "value": "all",
          "label": "All rows"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_filter_counts",
      "label": "Show filter counts",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "filter_two_columns",
      "label": "Show filter values in two columns",
      "default": false
    },
    {
      "type": "text",
      "id": "button_grid_filter_name",
      "label": "Filters to show as buttons",
      "info": "Counts will not show. Separate options with a comma. E.g. Size,Taille,Größe",
      "default": "Size,Taille,Größe"
    },
    {
      "type": "checkbox",
      "id": "auto_apply_hide_unavailable",
      "label": "On selecting a filter, automatically apply 'Hide out of stock'",
      "default": false,
      "info": "Requires Availability filter to be enabled"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_filter",
      "label": "Enable sticky filter column",
      "default": true
    },
    {
      "type": "header",
      "content": "Sorting"
    },
    {
      "type": "checkbox",
      "id": "show_sort",
      "label": "Show sorting dropdown",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "sort_show_featured",
      "label": "Enable order: Featured",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "sort_show_best",
      "label": "Enable order: Best selling",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "sort_show_alpha",
      "label": "Enable order: Alphabetical",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "sort_show_price",
      "label": "Enable order: Price",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "sort_show_date",
      "label": "Enable order: Date added",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "The collection's default sort order will always show."
    },
    {
      "type": "header",
      "content": "Related collections / Subcollections"
    },
    {
      "type": "paragraph",
      "content": "Show links to other collections at the top of the page. Use a metafield to change which links show on each collection page. [Read more](https://cleancanvas.co.uk/support/symmetry/related-collections)"
    },
    {
      "type": "collection_list",
      "id": "related_collections",
      "label": "Collections"
    },
    {
      "type": "select",
      "id": "related_collections_style",
      "label": "Related collections style",
      "default": "buttons",
      "options": [
        {
          "value": "buttons",
          "label": "Buttons"
        },
        {
          "value": "gallery",
          "label": "Gallery"
        }
      ]
    },
    {
      "type": "header",
      "content": "Related collections gallery layout"
    },
    {
      "type": "select",
      "id": "rel_coll_gall_aspect_ratio",
      "label": "Image shape",
      "default": "1",
      "options": [
        {
          "value": "2",
          "label": "Landscape (2x1)"
        },
        {
          "value": "1.5",
          "label": "Landscape (6x4)"
        },
        {
          "value": "1.25",
          "label": "Landscape (5x4)"
        },
        {
          "value": "1",
          "label": "Square (1x1)"
        },
        {
          "value": "0.8",
          "label": "Portrait (4x5)"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image alignment",
      "info": "Used to keep the subject of your image in view",
      "default": "center center",
      "options": [
        {
          "value": "top left",
          "label": "Top left"
        },
        {
          "value": "top center",
          "label": "Top center"
        },
        {
          "value": "top right",
          "label": "Top right"
        },
        {
          "value": "center left",
          "label": "Middle left"
        },
        {
          "value": "center center",
          "label": "Middle center"
        },
        {
          "value": "center right",
          "label": "Middle right"
        },
        {
          "value": "bottom left",
          "label": "Bottom left"
        },
        {
          "value": "bottom center",
          "label": "Bottom center"
        },
        {
          "value": "bottom right",
          "label": "Bottom right"
        }
      ]
    },
    {
      "id": "rel_coll_gall_enable_margin",
      "type": "checkbox",
      "label": "Add spacing around images",
      "default": true
    },
    {
      "id": "rel_coll_gall_full_width",
      "type": "checkbox",
      "label": "Full page width",
      "default": false
    },
    {
      "id": "rel_coll_gall_overlay_style",
      "type": "select",
      "label": "Overlay style",
      "default": "shadow",
      "options": [
        {
          "value": "full",
          "label": "Tint"
        },
        {
          "value": "box",
          "label": "Box"
        },
        {
          "value": "shadow",
          "label": "Text shadow"
        },
        {
          "value": "full image-overlay--bg-shadow",
          "label": "Text shadow and tint"
        },
        {
          "value": "no_background",
          "label": "No background"
        }
      ]
    },
    {
      "type": "select",
      "id": "rel_coll_gall_text_alignment",
      "label": "Text overlay position",
      "options": [
        {
          "value": "top left",
          "label": "Top left"
        },
        {
          "value": "top center",
          "label": "Top center"
        },
        {
          "value": "top right",
          "label": "Top right"
        },
        {
          "value": "center center",
          "label": "Middle"
        },
        {
          "value": "bottom left",
          "label": "Bottom left"
        },
        {
          "value": "bottom center",
          "label": "Bottom center"
        },
        {
          "value": "bottom right",
          "label": "Bottom right"
        }
      ],
      "default": "center center"
    },
    {
      "type": "select",
      "id": "rel_coll_grid_mobile",
      "label": "Images per row - mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "hide",
          "label": "Hide"
        }
      ],
      "default": "2"
    }
  ]
}
{% endschema %}
